@import 'helpers/variables';
@import 'layout/utilities';
@import 'layout/global';
@import 'layout/breakpoints';
@import 'layout/grid';
@import 'helpers/mixins';

// Compontents
@import 'components/buttons';
@import 'components/navbar';
@import 'components/home';
@import 'components/section';
@import 'components/skills-card';
@import 'components/tabs';
@import 'components/timeline';
@import 'components/form';
@import 'components/sonar-wave';



.footer {
  margin-top: 96px;
}
.footer__copyrights {
  font-weight: var(--type-fw-medium);
  font-size: var(--type-fs-n-3);
  text-align: center;
  padding: 17px 0;
  border-top: 1px solid var(--cp-border);
}
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links a {
  color: var(--cp-text);
}
.social-links i {
  font-size: var(--type-fs-n-5);
  padding: 6px;
}
.about-description {
  text-align: center;
}

.about-description p {
  margin-bottom: 25px;
}
