:root {
  // Color Palette
  --cp-primary: #42a5f5;
  --cp-secondary: #2f9bf4;
  --cp-heading: #22272b;
  --cp-text: #657481;
  --cp-text-light: #bac0c4;
  --cp-text-lighten: #e9ebec;
  --cp-body: #fafdff;
  --cp-header: #fafdff;
  --cp-container: #fff;
  --cp-input: #e9ebec;
  --cp-border: #d8e2ef;
  // Typography
  --type-font-main: 'Poppins', sans-serif;
  --type-fs-s-1: .75rem;
  --type-fs-s-2: .813rem;
  --type-fs-n-3: .938rem;
  --type-fs-n-4: 1.125rem;
  --type-fs-n-5: 1.25rem;
  --type-fs-n-6: 1.5rem;
  --type-fs-l-7: 2rem;
  --type-fw-medium: 500;
  --type-fw-bold: 600;
  // Responsive typography
  @media screen and (min-width: 968px){
    --type-fs-s-1: .813rem;
    --type-fs-s-2: .875rem;
    --type-fs-n-3: 1rem;
    --type-fs-n-4: 1.25rem;
    --type-fs-n-5: 1.5rem;
    --type-fs-n-6: 2.25rem;
    --type-fs-l-7: 3rem;
  }
  // Spacing
  --mr-1: 0.75rem;
  --pd-1: 0.75rem;
}

$header-hight: 3rem;
$box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);

body.dark-theme {
  --cp-heading: #f1f2f4;
  --cp-text: #b8c0c7;
  --cp-body: #0c151d;
  --cp-header: #11202cdb;
  --cp-container: #171f26;
  --cp-input: #1d3244;
  --cp-border: #344050;

  --first-color-second: hsl(var(--hue-color),30%,8%);
  --title-color: hsl(var(--hue-color),8%,95%);
  --text-color: hsl(var(--hue-color),8%,75%);
  --input-color: hsl(var(--hue-color),29%,16%);
  --body-color: hsl(var(--hue-color),28%,12%);
  --container-color: hsl(var(--hue-color),29%,16%);
  --scroll-bar-color: hsl(var(--hue-color),12%,48%);
  --scroll-thumb-color: hsl(var(--hue-color),12%,30%);
}