.button {
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-size: var(--type-fs-n-3);
  font-weight: var(--type-fw-medium);
  cursor: pointer;
  transition: .3s;
}
.button--primary {
  background-color: var(--cp-primary);
  color: #fff;
}
.button--primary:hover{
  background-color: var(--cp-secondary);
}