.form {
  $block: &;
  &__input {
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: var(--cp-text);
      font-family: var(--type-font-main);
    }
    font-family: var(--type-font-main);
    width: 100%;
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--cp-input);
    color: var(--cp-heading);
  }
  &__submit {
    width: 150px;
  }
  textarea {
    resize: none;
    height: 100px;
  }
}